header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 30px;
  background: transparent;
  z-index: 1000 !important;
}

.menu {
  color: #fff;
  font-size: 1.7rem;
}

.userItems {
  display: inline-flex;
  align-items: center;
  gap: 20px;
}

.userItems .icon {
  position: relative;
  color: #fff;
  font-size: 1.5rem;
  width: 50px;
  height: 50px;
  border-radius: 10px;
  box-shadow: -5px -5px 15px rgba(255, 255, 255, 0.1),
    5px 5px 15px rgba(0, 0, 0, 0.35);
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
}

.userItems .icon .like,
.userItems .icon .bag {
  position: absolute;
  right: 0;
  bottom: 10px;
  font-size: 0.8rem;
  font-weight: 800;
  height: 20px;
  width: 20px;
  padding: 3px;
  color: #fff;
  background: var(--secondary);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
}

.userItems .avatar {
  width: 150px;
  height: 50px;
  padding: 10px 20px;
  display: flex;
  align-items: center;
  gap: 15px;
  border-radius: 10px;
  box-shadow: -5px -5px 15px rgba(255, 255, 255, 0.1),
    5px 5px 15px rgba(0, 0, 0, 0.35);
}

.userItems .avatar img {
  width: 35px;
  height: 35px;
  border-radius: 50%;
}

.userItems .avatar a {
  color: #fff;
  font-size: 1.7rem;
}

.userItems .avatar .user-details {
  display: flex;
  flex-direction: column;
}

.userItems .avatar .user-details span {
  color: #fff;
  font-size: 0.7rem;
}

.userItems .avatar .user-details a {
  text-decoration: none;
  font-size: 0.6rem;
}

@media screen and (max-width: 630px) {
  .menu {
    font-size: 1.5rem;
  }

  .userItems {
    gap: 15px;
  }

  .userItems .icon {
    font-size: 1.3rem;
    width: 50px;
    height: 50px;
  }

  .userItems .avatar {
    width: 120px;
    height: 50px;
    padding: 10px 5px;
    gap: 10px;
  }

  .userItems .avatar img {
    width: 30px;
    height: 30px;
  }

  .userItems .avatar .user-details span {
    font-size: 0.5rem;
  }

  .userItems .avatar .user-details a {
    font-size: 0.5rem;
  }
}

@media screen and (max-width: 550px) {
  .userItems .avatar {
    display: none;
  }
}

@media screen and (max-width: 370px) {
  .menu {
    font-size: 1.2rem;
  }

  .userItems {
    gap: 10px;
  }

  .userItems .icon {
    font-size: 1.1rem;
    width: 35px;
    height: 35px;
  }

  .userItems .icon .like,
  .userItems .icon .bag {
    bottom: 7px;
    font-size: 0.5rem;
    height: 12px;
    width: 12px;
    padding: 1px;
  }
}
