.slideMenu {
  width: 20%;
  height: 100%;
  padding: 30px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 30px;
  background: var(--bgColor);
  box-shadow: -5px -5px 15px rgba(255, 255, 255, 0.1),
    5px 5px 15px rgba(0, 0, 0, 0.35);
  display: flex;
  flex-direction: column;
  transition: 1s;
  z-index: 10000;
}

.slideMenu .logo {
  font-family: "Bauhaus 93";
  position: relative;
  text-decoration: none;
  display: inline-flex;
  align-items: center;
  gap: 15px;
  color: #fff;
  font-size: 3.4em;
  font-weight: 600;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.slideMenu .nav {
  display: flex;
  flex-direction: column;
  margin-top: 30px;
  gap: 15px;
}

.slideMenu .nav li a {
  text-decoration: none;
  white-space: nowrap;
  color: #fff;
  font-size: 1.2em;
  letter-spacing: 1px;
  display: inline-flex;
  align-items: center;
  gap: 25px;
  background: var(--bgColor);
  padding: 10px 20px;
  border-radius: 20px;
  width: 100%;
  transition: 0.5s;
}

.slideMenu .nav li a:hover,
.slideMenu .nav li a.active {
  box-shadow: -5px -5px 15px rgba(255, 255, 255, 0.1),
    5px 5px 15px rgba(0, 0, 0, 0.35);
}

.slideMenu .social {
  position: absolute;
  bottom: 50px;
  display: flex;
  align-items: center;
  list-style-type: none;
  gap: 20px;
  padding-left: 0;
  transition: 0.5s;
}

.slideMenu .social li a {
  text-decoration: none;
  color: #fff;
  font-size: 1.5rem;
  transition: 0.3s;
}

.slideMenu .social li a:hover {
  color: var(--secondary);
}

.slideMenu .social li .share {
  background: var(--secondary);
  padding: 8px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  transition: 0.3s;
}

.slideMenu .social li .share:hover {
  color: var(--primary);
}

.slideMenu.active {
  width: 7%;
  align-items: center;
  overflow: hidden;
  transition: 1s;
}

.slideMenu.active .brand,
.slideMenu.active .navName {
  display: none;
}

.slideMenu.active .nav li a {
  font-size: 1.8em;
}

.slideMenu.active .social {
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.slideMenu.active .social li a {
  font-size: 1em;
}

@media screen and (max-width: 1100px) {
  .slideMenu {
    width: 24%;
  }

  .slideMenu .nav li a {
    padding: 8px 15px;
  }

  .slideMenu.active .nav li a {
    font-size: 1.5em;
  }
}

@media screen and (max-width: 950px) {
  .brand {
    font-size: 40px;
  }

  .slideMenu .nav li a {
    font-size: 0.8em;
  }

  .slideMenu .logo .bi {
    gap: 10px;
    font-size: 0.7em;
  }

  .slideMenu .social li a {
    font-size: 1rem;
  }
}

@media screen and (max-width: 800px) {
  .slideMenu {
    width: 25%;
  }
}

@media screen and (max-width: 750px) {
  .brand {
    font-size: 30px;
  }

  .slideMenu .nav li a {
    font-size: 0.6em;
  }

  .slideMenu .logo .bi {
    gap: 10px;
    font-size: 0.6em;
  }

  .slideMenu .social li a {
    font-size: 0.8rem;
  }
}

@media screen and (max-width: 730px) {
  .slideMenu .nav li a {
    border-radius: 15px;
  }

  .slideMenu.active .nav li a {
    font-size: 1em;
  }
}

@media screen and (max-width: 695px) {
  .brand {
    font-size: 25px;
  }

  .slideMenu .nav li a {
    font-size: 0.5em;
  }

  .slideMenu .logo .bi {
    gap: 10px;
    font-size: 0.6em;
  }

  .slideMenu .social li a {
    font-size: 0.6rem;
  }
}

@media screen and (max-width: 650px) {
  .slideMenu {
    width: 27%;
  }
}

@media screen and (max-width: 620px) {
  .slideMenu .social li a {
    font-size: 0.5rem;
  }
}

@media screen and (max-width: 600px) {
  .slideMenu .nav li span {
    display: none;
  }

  .brand {
    display: none;
  }

  .slideMenu {
    position: fixed;
    transform: translateX(-150%);
  }

  .slideMenu.active {
    width: 20%;
    height: 91%;
    transform: translateX(0);
    transition-delay: 0.3s;
  }

  .slideMenu .nav li a {
    padding: 5px 10px;
  }

  .slideMenu.active .nav {
    align-items: center;
    justify-content: center;
  }

  .slideMenu .social {
    display: none;
  }
}

@media screen and (max-width: 360px) {
  .slideMenu.active {
    width: 23%;
  }

  .slideMenu .nav li a {
    padding: 4px 8px;
    border-radius: 10px;
  }

  .slideMenu .social {
    display: none;
  }
}
